html,body{
    height: 100%;
    width: 100%;
    color: #ffff;
    background-color: #111;
    font-family: 'Gabarito', sans-serif;
}

.font-white{
  color: #ffff;
}

.font-gray{
  color: #CCCCCC;
}
